.boxes {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
}

.boxDireita {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    height: 350px;
}

.textoCalendario {
    font-size: 24px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.botaoCalendario {
    font-size: 24px;
    margin-top: 10%;
    text-align: center;
    position: relative;
    left: 37%;
}

.usersList {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    height: 45vh;
    overflow: scroll;
    overflow-x: hidden;
}

.dataTitle {
    font-size: 26px;
}

.dataTitleList {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #38B6FF;
}

.dataNumber {
    font-size: 32px;
    text-align: center;
    font-weight: 900;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
}

.dataTextList {
    font-size: 28px;
    font-weight: 700;
}

.modalTitle {
    font-size: 24px;
    font-weight: 700;
}

.cardHeader {
    margin-bottom: -3%;
}

.modalClockAndText {
    padding-left: 2%;
    width: 200px;
    text-align: center;
    font-weight: 700;
}

.modalCenterText {
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 18px;
}

.boxAdjust {
    padding: 2%;
    padding-bottom: 0%;
}

.cidBox {
    padding: 2%;
    padding-bottom: 0%;
}

.cardCidSize {
    height: 65px;
}

.cidIcon {
    text-align: right;
    position: relative;
}

.modalSearchBar {
    text-align: center;
}

.modalSearchBarIcon {
    margin-top: 15%;
}


.css-1atqylj {
    width: 10%;
}

.modalLeftText {
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
    text-align: left;
    font-size: 18px;
}

.modalExitBox {
    margin-left: 5%;
}

.selecionadoText {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
}

.camBoxAdjust {
    padding: 3%;
    padding-bottom: 0%;
}

.camCardSize {
    padding: 10%;
}

.expandIcon {
    margin-left: auto;
    margin-right: 1%;
    margin-bottom: 1%;
}

.contentBigBox {
    overflow: scroll;
    overflow-y: initial;
    overflow-x: hidden;

    scrollbar-width: none;
}

.buttonsBox {
    top: auto;
    bottom: 5%;
    margin-left: 1%;
}

.buttonStyle {
    width: 10vw;
}